.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: fit-content;
}

.loginTitle {
    text-align: center;
    font-size: var(--font-size-l);
    color: var(--primary-color);
    font-weight: 600;
}


.input {
    width: 100%;
    outline: none;
    padding: 5px;
    border: 1px solid #323232;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;


    &:focus, &:hover {
        border: 1px solid blue;
        cursor: pointer;
    }
}

.loginBtn {
    background: blue;
    border: none;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-size: var(--font-size-m);
    font-weight: 500;

    &:hover {
        background-color: rgb(82, 82, 255);
    }
}