.title {
    color: var(--primary-color);
}


.text {
    color: var(--secondary-color);
}


.error {
    .title {
        color: var(--red-light);
    }


    .text {
        color: var(--red-dark);
    }
}