.Sidebar {
  width: var(--sidebar-width);
  background: var(--bg-color);
  border-right: 1px solid var(--primary-color);
  height: calc(100dvh - 50px);
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
