.LangSwitcher {
  background: none;
  border: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  span {
    font-size: 20px;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}
