.ThemeSwitcher {
  width: fit-content;
  border-radius: 50%;
  padding: 5px;
  border: none;
  background: transparent;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--bg-hover);
    cursor: pointer;
  }
}
