.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid var(--primary-color);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
