.header {
  width: 100%;
  background: var(--bg-color);
  height: 50px;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
.headerButton {
  display: flex;
  gap: 10px;
}

.toggleTheme {
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;

  &:hover {
    background-color: var(--bg-color);
  }
}


.login {
  padding: 5px;
  background: var(--bg-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  cursor: pointer;

  &:hover {
    background: var(--bg-hover);
    border: 1px solid cornflowerblue;
  }
}


