.header {
  width: 100%;
  background: var(--bg-color);
  height: 50px;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.headerMmenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    ul {
      display: flex;
      gap: 10px;

      li {
        list-style: none;
        font-size: var(--font-m);
        color: var(--primary-color);
      }
    }
  }
}

.headerButton {
  display: flex;
  gap: 10px;
}

.toggleTheme {
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;

  &:hover {
    background-color: var(--bg-color);
  }
}


